.table-wrapper {
    max-width: 100%; /* Adjust as needed */
    overflow-x: auto; /* Add horizontal scroll if necessary */
}

.message-content {
    float: left;
    width: 80%;
    max-width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message-time {
    float: right;
    width: 20%;
    text-align: right;
}

/* 부모 컨테이너 */
.row {
    display: flex; /* 플렉스 컨테이너로 설정 */
    align-items: stretch; /* 아이템을 수직으로 꽉 차도록 설정 */
}

/* 입력(input) 영역 */
#message {
    flex: 1; /* 남은 공간을 모두 차지하도록 설정 */
    box-sizing: border-box; /* 내부 padding과 border를 포함하여 전체 너비로 유지 */
}

/* 버튼(button) */
#send {
    flex: 0; /* 필요한 공간만 차지하도록 설정 */
}

/* label */
label[for="message"] {
    flex: 0; /* 필요한 공간만 차지하도록 설정 */
    margin-right: 10px; /* 레이블과 입력 영역 사이에 간격 추가 */
    align-self: center; /* 수직 가운데 정렬 */
}
