<!DOCTYPE html>
<html lang="en">
<head>
    <title>Travel-Shooting Chat</title>

    <!--Stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/css/chat.css" rel="stylesheet">

    <!--live server css-->
    <link href="/static/css/chat.css" rel="stylesheet">

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!--Stomp JS-->
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>

    <!--JS Cookie-->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <!--JS-->
    <script src="/js/chat.js"></script>
</head>
<body>
<div id="main-content" class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <div>
                        <label for="room-number">Chat Room ID</label>
                        <input type="text" id="room-number" class="form-control" placeholder="Insert the Chat Room ID">
                    </div>
                    <div>
                        <label for="connect">WebSocket connection:</label>
                        <button id="connect" class="btn btn-default" type="submit">Connect</button>
                        <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <div>
                        <label for="name">Name?</label>
                        <input type="text" id="name" class="form-control" placeholder="Your name">
                    </div>
                    <div>
                        <label for="message">Message?</label>
                        <input type="text" id="message" class="form-control" placeholder="Your message">
                        <button id="send" class="btn btn-default" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-wrapper">
                <table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Chat Messages</th>
                    </tr>
                    </thead>
                    <tbody id="chat-messages">
                    <tr>
                        <td>
                            <div class='message-content'>
                                senderName: contentcontentcontentcontentcontentcontentcontent contentcontentcontentcontentcontentcontentcontentcontent
                                exampleexampleexampleexampleexampleexampleexampleexampleexample
                                exampleexampleexampleexampleexampleexampleexample
                                exampleexampleexampleexample exampleexampleexampleexampleexampleexample
                                exampleexampleexample exampleexampleexampleexampleexampleexampleexample
                            </div>
                            <div class='message-time'>
                                2000-00-00 00:00:00
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>