<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <title>여행후기 게시글 수정</title>
    <link rel="stylesheet" href="/css/update_review.css">

</head>
<body>
<div class="navbar-fixed">
    <nav class="teal">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/view/home" class="brand-logo">Travel Shooting</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/view/home">Home</a>
                    </li>
                    <li>
                        <a href="/view/post">Plan</a>
                    </li>
                    <li>
                        <a href="/view/review-post">Reviews</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<form id="reviewForm">
    <label for="title">제목:</label>
    <input type="text" id="title" name="title"><br><br>
    <label for="content">내용:</label>
    <textarea id="content" name="content"></textarea><br><br>
    <input type="file" id="images" name="images" multiple><br><br>
    <div id="selectedImageNamesContainer"></div> <!-- 이미지 파일명을 표시할 컨테이너 -->
    <button id="submit-button" type="submit">수정</button>
    <button id="cancel-button" type="button">취소</button>
</form>
<div id="message"></div>
<!-- Footer -->
<footer class="section teal darken-2 white-text center">
    <p class="flow-text">Travel Shooting </p>
</footer>

<script src="/js/update_review.js"></script>
</body>
</html>
