<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Post</title>
    <link rel="stylesheet" href="/css/viewReview.css">
</head>
<body>
<h1>Review Post</h1>
<div id="post-container">
    <h2 id="post-title"></h2>
    <div id="image-container"></div> <!-- 이미지를 표시할 컨테이너 -->
    <p id="post-content"></p>
    <div id="buttons-container">
        <button id="edit-button">수정</button>
        <button id="delete-button">삭제</button>
    </div>
</div>

<script src="/js/viewReview.js"></script>
</body>
</html>
