<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:,">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <title>여행 후기 게시판</title>
    <link rel="stylesheet" href="/css/view_review.css">
</head>
<body>
<div class="navbar-fixed">
    <nav class="teal">
        <div class="container">
            <div class="nav-wrapper">
                <a href="/view/home" class="brand-logo">Travel Shooting</a>

                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/view/home">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<h1>여행 후기 게시판</h1>
<div id="post-container">
    <h2 id="post-title"></h2>
    <div id="like-info">
        <span id="like-count">0</span> <span id="like-icon">❤️</span>
    </div>

    <div id="image-container"></div> <!-- 이미지를 표시할 컨테이너 -->
    <p id="post-content"></p>
    <div id="buttons-container">
        <button id="like-button">좋아요</button>
        <button id="edit-button">수정</button>
        <button id="delete-button">삭제</button>
    </div>
</div>
<!-- Footer -->
<footer class="section teal darken-2 white-text center">
    <p class="flow-text">Travel Shooting </p>
</footer>

<script src="/js/view_review.js"></script>
</body>
</html>
